.toast-container {
  position: relative;
  top: 60px;
  right: 20px;
  z-index: 9999;
}

.Toastify__toast-theme--dark {
  background-color: #333;
  color: white;
}

.Toastify__toast--success {
  background-color: #28a745;
}

.Toastify__toast--error {
  background-color: #dc3545;
}

