@import "react-toastify/dist/ReactToastify.css";

.Toastify {
  z-index: 9999; /* Ensure the toast is on top */
}

.Toastify__toast {
  background-color: #333; /* Dark background for the toast */
  color: #fff; /* White text for contrast */
}

.Toastify__toast--success {
  background-color: #4caf50; /* Green background for success */
}

.Toastify__toast--error {
  background-color: #f44336; /* Red background for error */
}
